---
layout: page
title: 标签索引
permalink: /tags/index.html
header: Posts By Tag
group: navigation
navtext: "标签"
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
<div class="row">
<div class="span3">
<h3 id="{{ tag[0] }}-ref" class="align-right">{{ tag[0] }}</h3>
</div>
<div class="span9">
	<ul>
    {% assign pages_list = tag[1] %}  
    {% include custom/pages_list_with_date %}
  </ul>
</div>
</div>
{% if forloop.last != true %}<hr />{% endif %}
{% endfor %}
