<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | TIGERLIHAO</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="tigerlihao">
  <!--[if lt IE 9]>
  <script src="/assets/js/html5.js"></script>
  <![endif]-->
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
  {% if page.highlight %}<link href="/assets/css/syntax.css" rel="stylesheet" type="text/css" media="all">{% endif %}
  <link rel="shortcut icon" href="/assets/icon/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/icon/apple-touch-icon-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/icon/apple-touch-icon-144.png">
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">{{ site.title }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {% include nav_list %}
          </ul>
          <div class="nav pull-right">
            <a href="/atom.xml" class="btn">订阅</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <p>&copy; TIGERLIHAO 2012</p>
    </footer>
  </div>
<script src="/assets/js/jquery-1.8.2.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
{% include google-analytics %}
</body>
</html>
